@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

.pTwo_outer{
    height: 830px;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.pTwo_container{
    font-family: 'Montserrat', sans-serif;
    max-width: 1348px;
    margin: auto;
    margin-top: 200px;
}

.pTwo_content{
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    height: 150px;
    color: rgb(146, 90, 246);
    margin: auto;
    /* margin-top: 200px; */
    text-align: center;
}

.pTwo_title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    color: #48455A;

}


.pTwo_card>h3 {
    color: #262626;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 4px;
    color: #48455A;
}
  
.pTwo_card>p {
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #48455A;
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: rgb(146, 90, 246);
    border-radius: 0 4px 0 32px;
}
  
.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
}

.pTwo_card {
    display: block;
    height: 220px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    max-width: 262px;
    background-color: #fff;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    /* box-shadow: 2px 0px 60px -29px rgba(0,0,0,0.5); */
    box-shadow: 0px 0px 45px 0px rgb(0 0 0 / 15%);
}
  
.pTwo_card:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: rgb(146, 90, 246);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition:  0.25s ease-out;
}

.pTwo_card:hover{
    color: rgba(255, 255, 255, 0.8);
}

.pTwo_card:hover:before {
    transform: scale(21);
}

.pTwo_card:hover .card_p, .card_h{
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out;
}




@media all and (max-width: 1090px){
    .pTwo_outer{
        height: auto;
        margin-bottom: 200px;
    }
    .pTwo_cards{
        padding: 50px 0;
    }
}

@media all and (max-width: 1055px){
    .pTwo_title{
        text-align: center;
    }
    .pTwo_container{
        margin-top: 150px;
    }
    .pTwo_outer{
        margin-bottom: 50px;
    }
}


@media all and (max-width: 910px){
    .pTwo_outer{
        margin-bottom: 50px;
    }

    .pTwo_title{
        font-size: 2.5em
    }
}


@media all and (max-width: 590px){
    .pTwo_title{
        font-size: 2em
    }
}

@media all and (max-width: 375px){
    .pTwo_title{
        font-size: 1.6em
    }
    .pTwo_content{
        height: auto;
    }
   
}
@media all and (max-width: 310px){
    .pTwo_title{
        font-size: 1.3em
    }

}