.footer{
    width: 100%;
    height: 100px;
    padding: 24px 16px;
    background-color: #453F86;
    font-weight: 600;
    position: relative;
}

.footer-wrapper{
    /* max-width: 1300px; */
    width: 80%;
    margin: auto;
    /* padding: 0 60px; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* position: absolute;
    bottom: 1;  */
}

.footer-p{
    color: rgb(240, 240, 240);
}



.footer_info_icons{
    display: flex;
}

.info_icon{
    margin-right: 20px;
    margin-bottom: 10px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #48455A;
    position: relative;
    box-shadow: 0px 19px 46px -7px rgba(0,0,0,0.48);
    transition: .3s ease-in-out;
    
}
.info_icon:hover{
    cursor: pointer;
    color: #1f1d3d;
    background-color: rgb(240, 240, 240);
    transform: translate(0, -4px);
}

.info_icon:hover .fab{
    color: #1f1d3d;
}

.fab{
    position: absolute;
    top: 34%;
    left: 37%;
    z-index: 10;
    color: rgb(240, 240, 240)
}

@media all and (max-width: 555px){
    .footer-wrapper{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 150px;
        margin: auto;
    }
    .footer{
        width: 100%;
        height: 150px;
    }

}